In [1]:
from dotenv import load_dotenv
import os

from langchain_openai import ChatOpenAI
from langchain_groq import ChatGroq
from langchain_anthropic import ChatAnthropic
from langchain_google_genai import ChatGoogleGenerativeAI

In [2]:
load_dotenv(dotenv_path='.env', override=True)

# https://platform.openai.com/api-keys
openai_api_key = os.getenv("OPENAI_API_KEY")

# https://console.groq.com/keys
groq_api_key = os.getenv("GROQ_API_KEY")

# https://console.anthropic.com/dashboard
anthropic_api_key = os.getenv("ANTHROPIC_API_KEY")

# https://aistudio.google.com/app/apikey
gemini_api_key = os.getenv("GEMINI_API_KEY")

In [3]:
#llm = ChatOpenAI(temperature=0.0, model="gpt-4o-mini", max_tokens=256, openai_api_key=openai_api_key)
llm = ChatGroq(temperature=0.0, model="llama3-8b-8192", max_tokens=256)
user_question= "Qual a capital do Brasil ?"
messages = [{"role": "user", "content": user_question}]
response = llm.invoke(messages)
print(response.content)

A capital do Brasil é Brasília!

In [4]:
from langchain_community.utilities import SQLDatabase
db = SQLDatabase.from_uri("sqlite:///Chinook.db")
print(db.get_table_info())

CREATE TABLE album (
	album_id INTEGER NOT NULL,
	title NVARCHAR(160) NOT NULL,
	artist_id INTEGER NOT NULL,
	PRIMARY KEY (album_id),
	FOREIGN KEY(artist_id) REFERENCES artist (artist_id)
)

/*
3 rows from album table:
album_id	title	artist_id
1	For Those About To Rock We Salute You	1
2	Balls to the Wall	2
3	Restless and Wild	2
*/


CREATE TABLE artist (
	artist_id INTEGER NOT NULL,
	name NVARCHAR(120),
	PRIMARY KEY (artist_id)
)

/*
3 rows from artist table:
artist_id	name
1	AC/DC
2	Accept
3	Aerosmith
*/


CREATE TABLE customer (
	customer_id INTEGER NOT NULL,
	first_name NVARCHAR(40) NOT NULL,
	last_name NVARCHAR(20) NOT NULL,
	company NVARCHAR(80),
	address NVARCHAR(70),
	city NVARCHAR(40),
	state NVARCHAR(40),
	country NVARCHAR(40),
	postal_code NVARCHAR(10),
	phone NVARCHAR(24),
	fax NVARCHAR(24),
	email NVARCHAR(60) NOT NULL,
	support_rep_id INTEGER,
	PRIMARY KEY (customer_id),
	FOREIGN KEY(support_rep_id) REFERENCES employee (employee_id)
)

/*
3 rows from customer table:
customer_id	first_name	last_name	company	address	city	state	country	postal_code	phone	fax	email	support_rep_id
1	Luís	Gonçalves	Embraer - Empresa Brasileira de Aeronáutica S.A.	Av. Brigadeiro Faria Lima, 2170	São José dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	Köhler	None	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	François	Tremblay	None	1498 rue Bélanger	Montréal	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/


CREATE TABLE employee (
	employee_id INTEGER NOT NULL,
	last_name NVARCHAR(20) NOT NULL,
	first_name NVARCHAR(20) NOT NULL,
	title NVARCHAR(30),
	reports_to INTEGER,
	birthdate DATETIME,
	hire_date DATETIME,
	address NVARCHAR(70),
	city NVARCHAR(40),
	state NVARCHAR(40),
	country NVARCHAR(40),
	postal_code NVARCHAR(10),
	phone NVARCHAR(24),
	fax NVARCHAR(24),
	email NVARCHAR(60),
	PRIMARY KEY (employee_id),
	FOREIGN KEY(reports_to) REFERENCES employee (employee_id)
)

/*
3 rows from employee table:
employee_id	last_name	first_name	title	reports_to	birthdate	hire_date	address	city	state	country	postal_code	phone	fax	email
1	Adams	Andrew	General Manager	None	1962-02-18 00:00:00	2016-08-14 00:00:00	11120 Jasper Ave NW	Edmonton	AB	Canada	T5K 2N1	+1 (780) 428-9482	+1 (780) 428-3457	andrew@chinookcorp.com
2	Edwards	Nancy	Sales Manager	1	1958-12-08 00:00:00	2016-05-01 00:00:00	825 8 Ave SW	Calgary	AB	Canada	T2P 2T3	+1 (403) 262-3443	+1 (403) 262-3322	nancy@chinookcorp.com
3	Peacock	Jane	Sales Support Agent	2	1973-08-29 00:00:00	2017-04-01 00:00:00	1111 6 Ave SW	Calgary	AB	Canada	T2P 5M5	+1 (403) 262-3443	+1 (403) 262-6712	jane@chinookcorp.com
*/


CREATE TABLE genre (
	genre_id INTEGER NOT NULL,
	name NVARCHAR(120),
	PRIMARY KEY (genre_id)
)

/*
3 rows from genre table:
genre_id	name
1	Rock
2	Jazz
3	Metal
*/


CREATE TABLE invoice (
	invoice_id INTEGER NOT NULL,
	customer_id INTEGER NOT NULL,
	invoice_date DATETIME NOT NULL,
	billing_address NVARCHAR(70),
	billing_city NVARCHAR(40),
	billing_state NVARCHAR(40),
	billing_country NVARCHAR(40),
	billing_postal_code NVARCHAR(10),
	total NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY (invoice_id),
	FOREIGN KEY(customer_id) REFERENCES customer (customer_id)
)

/*
3 rows from invoice table:
invoice_id	customer_id	invoice_date	billing_address	billing_city	billing_state	billing_country	billing_postal_code	total
1	18	2017-01-03 00:00:00	627 Broadway	New York	NY	USA	10012-2612	15.84
2	30	2017-01-03 00:00:00	230 Elgin Street	Ottawa	ON	Canada	K2P 1L7	9.90
3	40	2017-01-05 00:00:00	8, Rue Hanovre	Paris	None	France	75002	1.98
*/


CREATE TABLE invoice_line (
	invoice_line_id INTEGER NOT NULL,
	invoice_id INTEGER NOT NULL,
	track_id INTEGER NOT NULL,
	unit_price NUMERIC(10, 2) NOT NULL,
	quantity INTEGER NOT NULL,
	PRIMARY KEY (invoice_line_id),
	FOREIGN KEY(track_id) REFERENCES track (track_id),
	FOREIGN KEY(invoice_id) REFERENCES invoice (invoice_id)
)

/*
3 rows from invoice_line table:
invoice_line_id	invoice_id	track_id	unit_price	quantity
1	1	1158	0.99	1
2	1	1159	0.99	1
3	1	1160	0.99	1
*/


CREATE TABLE media_type (
	media_type_id INTEGER NOT NULL,
	name NVARCHAR(120),
	PRIMARY KEY (media_type_id)
)

/*
3 rows from media_type table:
media_type_id	name
1	MPEG audio file
2	Protected AAC audio file
3	Protected MPEG-4 video file
*/


CREATE TABLE playlist (
	playlist_id INTEGER NOT NULL,
	name NVARCHAR(120),
	PRIMARY KEY (playlist_id)
)

/*
3 rows from playlist table:
playlist_id	name
1	Music
2	Movies
3	TV Shows
*/


CREATE TABLE playlist_track (
	playlist_id INTEGER NOT NULL,
	track_id INTEGER NOT NULL,
	PRIMARY KEY (playlist_id, track_id),
	FOREIGN KEY(track_id) REFERENCES track (track_id),
	FOREIGN KEY(playlist_id) REFERENCES playlist (playlist_id)
)

/*
3 rows from playlist_track table:
playlist_id	track_id
1	3402
1	3389
1	3390
*/


CREATE TABLE track (
	track_id INTEGER NOT NULL,
	name NVARCHAR(200) NOT NULL,
	album_id INTEGER,
	media_type_id INTEGER NOT NULL,
	genre_id INTEGER,
	composer NVARCHAR(220),
	milliseconds INTEGER NOT NULL,
	bytes INTEGER,
	unit_price NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY (track_id),
	FOREIGN KEY(media_type_id) REFERENCES media_type (media_type_id),
	FOREIGN KEY(genre_id) REFERENCES genre (genre_id),
	FOREIGN KEY(album_id) REFERENCES album (album_id)
)

/*
3 rows from track table:
track_id	name	album_id	media_type_id	genre_id	composer	milliseconds	bytes	unit_price
1	For Those About To Rock (We Salute You)	1	1	1	Angus Young, Malcolm Young, Brian Johnson	343719	11170334	0.99
2	Balls to the Wall	2	2	1	None	342562	5510424	0.99
3	Fast As a Shark	3	2	1	F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman	230619	3990994	0.99
*/

In [6]:
# pip install langchain-experimental
from langchain_experimental.sql import SQLDatabaseChain
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)

In [7]:
ai_msg= db_chain.invoke("How many employees are there?")
ai_msg
ai_msg['result']

> Entering new SQLDatabaseChain chain...
How many employees are there?
Question: How many employees are there?
SQLQuery: SELECT COUNT(*) FROM employee;
SQLResult: [(8,)]
Question: How many employees are there?
SQLQuery: SELECT COUNT(*) FROM employee;
> Finished chain.

'Question: How many employees are there?\nSQLQuery: SELECT COUNT(*) FROM employee;'

In [8]:
sql_query = ai_msg['result'].split("SQLQuery: ")[1].strip()
print(sql_query)

SELECT COUNT(*) FROM employee;

In [9]:
from sqlalchemy import create_engine, text
db_uri = "sqlite:///Chinook.db"  # Altere para seu banco de dados se necessário
engine = create_engine(db_uri)

with engine.connect() as connection:
    result = connection.execute(text(sql_query)).fetchall()
    print("SQL Result: ", result[0][0]) # retorna primeiro elemento da tupla

SQL Result:  8

In [10]:
ai_msg= db_chain.invoke("How many albums by Aerosmith?")
ai_msg
ai_msg['result']

> Entering new SQLDatabaseChain chain...
How many albums by Aerosmith?
Question: How many albums by Aerosmith?
SQLQuery: SELECT COUNT(*) FROM album WHERE artist_id IN (SELECT artist_id FROM artist WHERE name = 'Aerosmith');
SQLResult: [(1,)]
Question: How many albums by Aerosmith?
SQLQuery: SELECT COUNT(*) FROM album WHERE artist_id IN (SELECT artist_id FROM artist WHERE name = 'Aerosmith');
> Finished chain.

"Question: How many albums by Aerosmith?\nSQLQuery: SELECT COUNT(*) FROM album WHERE artist_id IN (SELECT artist_id FROM artist WHERE name = 'Aerosmith');"

In [11]:
from langchain.prompts.prompt import PromptTemplate

template = """
Given an input question, first create a syntactically correct query to run, then look at the results of the query and return the answer.
Use the following format:

Question: "Question here"
SQLQuery: "SQL Query to run"
SQLResult: "Result of the SQLQuery"
Answer: "Final answer here"

Only use the following tables:
{table_info}

If someone asks for the general table, they really mean the employee table.
Question: {input}"""

PROMPT = PromptTemplate(
    input_variables=["input", "table_info"], template=template
)

db_chain = SQLDatabaseChain.from_llm(llm, db, prompt=PROMPT, use_query_checker=True, verbose=True)
ai_msg = db_chain.invoke("How many employees are there in the general table?")
ai_msg
ai_msg['result']

> Entering new SQLDatabaseChain chain...
How many employees are there in the general table?
SELECT COUNT(*) FROM employee;
SQLResult: [(8,)]
Question: How many employees are there in the general table?
SQLQuery: SELECT COUNT(*) FROM employee;
> Finished chain.

'Question: How many employees are there in the general table?\nSQLQuery: SELECT COUNT(*) FROM employee;'

In [17]:
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)
ai_msg = db_chain.invoke("list the tables of all database")
print(ai_msg)
print(ai_msg['result'])

> Entering new SQLDatabaseChain chain...
list the tables of all database
SQLQuery: SELECT "name" FROM sqlite_master WHERE "type"='table';
SQLResult: [('album',), ('artist',), ('customer',), ('employee',), ('genre',), ('invoice',), ('invoice_line',), ('media_type',), ('playlist',), ('playlist_track',), ('track',)]
The database contains the following tables: album, artist, customer, employee, genre, invoice, invoice_line, media_type, playlist, playlist_track, and track.
> Finished chain.
{'query': 'list the tables of all database', 'result': 'The database contains the following tables: album, artist, customer, employee, genre, invoice, invoice_line, media_type, playlist, playlist_track, and track.'}
The database contains the following tables: album, artist, customer, employee, genre, invoice, invoice_line, media_type, playlist, playlist_track, and track.

In [13]:
ai_msg = db_chain.invoke("list the columns in genre table")
print(ai_msg)
print(ai_msg['result'])

> Entering new SQLDatabaseChain chain...
list the columns in genre table
Question: list the columns in genre table
SQLQuery: SELECT "name" FROM genre
SQLResult: [('Rock',), ('Jazz',), ('Metal',), ('Alternative & Punk',), ('Rock And Roll',), ('Blues',), ('Latin',), ('Reggae',), ('Pop',), ('Soundtrack',), ('Bossa Nova',), ('Easy Listening',), ('Heavy Metal',), ('R&B/Soul',), ('Electronica/Dance',), ('World',), ('Hip Hop/Rap',), ('Science Fiction',), ('TV Shows',), ('Sci Fi & Fantasy',), ('Drama',), ('Comedy',), ('Alternative',), ('Classical',), ('Opera',)]
Question: list the columns in genre table
SQLQuery: SELECT "name" FROM genre
> Finished chain.
{'query': 'list the columns in genre table', 'result': 'Question: list the columns in genre table\nSQLQuery: SELECT "name" FROM genre'}
Question: list the columns in genre table
SQLQuery: SELECT "name" FROM genre

In [18]:
query = "list all the names of unique media types  of the media_type table?"
ai_msg = db_chain.invoke(query)
print(ai_msg)

> Entering new SQLDatabaseChain chain...
list all the names of unique media types  of the media_type table?
SQLQuery: SELECT DISTINCT "name" FROM "media_type" LIMIT 5;
SQLResult: [('MPEG audio file',), ('Protected AAC audio file',), ('Protected MPEG-4 video file',), ('Purchased AAC audio file',), ('AAC audio file',)]
Question: list all the names of unique media types of the media_type table?
SQLQuery: SELECT DISTINCT "name" FROM "media_type" LIMIT 5;
> Finished chain.
{'query': 'list all the names of unique media types  of the media_type table?', 'result': 'Question: list all the names of unique media types of the media_type table?\nSQLQuery: SELECT DISTINCT "name" FROM "media_type" LIMIT 5;'}

In [20]:
print(ai_msg["result"])  # resposta final
print(ai_msg["query"])  # contém o SQL gerado e possivelmente os dados reais

Question: list all the names of unique media types of the media_type table?
SQLQuery: SELECT DISTINCT "name" FROM "media_type" LIMIT 5;
list all the names of unique media types  of the media_type table?

In [24]:
import re
sql_code = ai_msg["result"]
match = re.search(r'SQLQuery:\s*(.*?;)', sql_code, re.DOTALL)
if match:
    sql_query = match.group(1).strip()
print(sql_query)

SELECT DISTINCT "name" FROM "media_type" LIMIT 5;

In [27]:
# Execute manualmente
from langchain.sql_database import SQLDatabase
db = SQLDatabase.from_uri("sqlite:///Chinook.db")
results = db.run(sql_query)  # Isso já retorna uma string com os resultados
print(results)

[('MPEG audio file',), ('Protected AAC audio file',), ('Protected MPEG-4 video file',), ('Purchased AAC audio file',), ('AAC audio file',)]

In [28]:
from sqlalchemy import create_engine, text
engine = create_engine("sqlite:///Chinook.db")
with engine.connect() as conn:
    result = conn.execute(text(sql_query))
    rows = [row for row in result]
    print(rows)

[('MPEG audio file',), ('Protected AAC audio file',), ('Protected MPEG-4 video file',), ('Purchased AAC audio file',), ('AAC audio file',)]